<h1>Mindmaps#show</h1>
<p>Find me in app/views/mindmaps/show.html.erb</p>
<strong> <%= @mindmap.capsule.title %> </strong>
<%=  @mindmap.created_at %>
<%= @mindmap.capsule.profile.profile_name%>
<%= @mindmap.src %>
<%= @mindmap.src_purpose %>

<%= link_to 'Back', mindmaps_path %>
<%= link_to 'Edit', edit_mindmap_path %>
<%= link_to 'Delete', mindmap_path, method: :delete, data: {confirm:"Are you sure you want to Delete this resource"} %>
