<div class="row">
  <div class="col-md-12" id="profile-page-form">
    <form class="form-inline">
      <div class="form-group">
        <%= simple_form_for(@profile, multipart: true, class: 'form-control') do |f| %>
      <div class="col-md-4 container">
        <ul class="author-personal-info-container">
          <li><%= f.input :first_name,label: false, id:'form_input', placeholder:"Enter your First Name" %></li>
          <li><%= f.input :last_name,label: false, placeholder:"Enter your Last Name" %></li>
          <li><%= f.input  :sexe,label: false, placeholder:"Select a Sexe" %></li>
      </div>
        <div class="col-md-2  col-md-offset-3", id="profile-location-form">
          <li><%= f.input :nationality, label: false,placeholder: "Enter Your Nationality" %></<li>
          <li><%= f.input :zipcode,label: false, placeholder:"Enter your Zipcode" %></li>
          <li><%= f.input :state,label: false, placeholder:"Select a State" %></li>

        </div>
          </div>
        </ul>
      </form>
    <div class="col-md-3">
      <form class="form-inline form_DOB">
          <%= f.input :date_of_birth, id: "DOB-container",as: :date, start_year: Date.today.year - 40,
                                     end_year: Date.today.year , discard_day: false,
                                     order: [:day ,:month, :year],label: false %>
      </form>
    </div>


      <div class="form-group col-md-3 col-md-offset-11">
    <form class="form-inline">
       <%= f.input :about_me, as: :text, id:"about_me",label: false, placeholder:"Add something clever after all this is an Authobiography" %>
      </div>
      </div>
    </form>
    <%= f.button :submit, class: "btn btn-primary", id:"profile_submit" %>
    <% end %>
</div>
