<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>


<%= @profile.about_me %>

<%= link_to @profile.profile_name, profile_path %>

<%= link_to "Edit Profile", edit_profile_path(current_author) %>
<%= link_to "Add New Mindmap", new_mindmap_path %>

<ul class="capsule-container">
  <% if @profile.capsules.any? %>
      <% @profile.capsules.each do |capsule| %>
      <ul class="capsule-author-info">
        <li> Author Picture </li>
        <li><%= link_to capsule.author.author_fullname, profile_path %></li>
      </ul>
        <ul class="capsule-social-data">
          <li id="capsule-title">Capsule Title: <%= capsule.title %></li>
          <li> Likes</li>
          <li> Bookmarks</li>
          <li> Comments</li>
          <li> icons </li>
          <li><%= link_to 'Delete Capsule', capsule_path, method: :delete,
             data: {confirm:"Are you sure you want to Delete this resource"} %></li>
        </ul>
      <li> Capsule Photo </li>
      <ul class="capsule-info">
        <li >Capsule About:<%= capsule.about %></li>
        <li>Capsule Purpose:<%= capsule.purpose %></li>
      </ul>
      <li> Progression Picture </li>
      <li> Collab List </li>
      <% if capsule.mindmaps.any? %>
      <ol class="profile-mindmap-container">
         <% capsule.mindmaps.each do |mindmap| %>
        Mindmap:
          <li><%= time_ago_in_words(mindmap.created_at) %><li>
          <li><%= mindmap.src %></li>
          <li><%= mindmap.src_purpose %></li>
          <%end %>
         <% else %>
         DISplay you need to make a capsule
         <% end %>
         <%= link_to 'Edit Capsule', edit_mindmap_path %>
       </ol>


    <% end %>
<% end %>
</ul>
