<div class="row">
  <div class="col-md-12">
          <div class="col-md-4 well">
          input the capsule image uploader
          </div>
          <div class="col-md-4 container">
                  <%= simple_form_for(@capsule , multipart: true) do |f| %>
            <ul id="capsule-form-input">
              <li><%= f.input :title, class:'form-control', label: false, placeholder: "Capsule Title"%></li>
              <li><%= f.input :about, as: :text, class: 'form-control', label: false, placeholder: "Capsule About Info" %></li>
              <li><%= f.input :purpose, as: :text, class: 'form-control', label: false, placeholder: "Capsule Purpose Info" %></li>
              <li><%= f.input :profile_id, collection: Profile.all, label: false, label_method: :profile_name %></li>
              <li><%= f.button :submit, class:'btn btn-primary' %></li>
            </ul>
          <% end %>
        </div>
  </div>
</div>
